<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="jnpfsoft" value="https://repository.jnpfsoft.com/repository//nuget-group/index.json" />
	</packageSources>
	<packageSourceCredentials>>
		<jnpfsoft>
			<add key="Username" value="jnpf-user" />
			<add key="ClearTextPassword" value="HLrQ0MA%S1nE" />
		</jnpfsoft>
	</packageSourceCredentials>
</configuration>