@{int collapseNum = 0;}
<template>
	<view class="jnpf-wrap jnpf-wrap-form">
		<u-form :model="@(Model.FormModel)" ref="@(Model.FormModel)" :errorType="['toast']" label-position="@(Model.LabelPosition!="top" ? "left" : "top")" :label-width="@(Model.LabelWidth) * 1.5" label-align="@(Model.LabelPosition)" class="jnpf-form">
@{var collapseArray = new List<string>(); }
			@{GenCodeAppFormControls();}
		</u-form>
		<view class="buttom-actions">
			<u-button class="buttom-btn" @@click="jnpf.goBack()">@(Model.CancelButtonText)</u-button>
@switch(Model.UseBtnPermission)
{
case true:
@switch(Model.IsEdit)
{
case true:
			@:<u-button class="buttom-btn" type="primary" @@click.stop="handleEdit">@(Model.EditTitleName)</u-button>
break;
}
break;
case false:
@switch(Model.IsEdit)
{
case true:
			@:<u-button class="buttom-btn" type="primary" @@click.stop="handleEdit">@(Model.EditTitleName)</u-button>
break;
}
break;
}
		</view>
	</view>
</template>
<script>
    import request from '@@/utils/request'
	import { useBaseStore } from '@@/store/modules/base'
    export default {
        data() {
            return {
				menuIds:'',
				setting: {},
                @(Model.FormModel): {
                    @(Model.PrimaryKey):'',
@foreach(var children in Model.FormList)
{
@switch(children.jnpfKey)
{
case "barcode":
case "qrcode":
break;
case "checkbox":
case "cascader":
case "uploadImg":
case "uploadFile":
case "areaSelect":
case "organizeSelect":
@if(children.DefaultValue == null || children.DefaultValue == "")
{
					@:@(children.LowerName):[],
}else{
					@:@(children.LowerName):@(children.DefaultValue),
}
break;
case "select":
case "userSelect":
case "usersSelect":
case "treeSelect":
case "depSelect":
case "posSelect":
case "popupTableSelect":
case "roleSelect":
case "groupSelect":
@if(children.Multiple)
{
if(children.DefaultValue == null || children.DefaultValue == "")
{
					@:@(children.LowerName):[],
}else{
					@:@(children.LowerName):@(children.DefaultValue),
}
}else{
if(children.DefaultValue == null || children.DefaultValue == "")
{
					@:@(children.LowerName):undefined,
}else{
					@:@(children.LowerName):@(children.DefaultValue),
}
}
break;
case "inputNumber":
if(children.DefaultValue == null || children.DefaultValue == "")
{
					@:@(children.LowerName):0,
}else{
					@:@(children.LowerName):@(children.DefaultValue),
}
break;
case "datePicker":
case "rate":
case "slider":
if(children.DefaultValue == null || children.DefaultValue == "")
{
					@:@(children.LowerName):undefined,
}else{
					@:@(children.LowerName):@(children.DefaultValue),
}
break;
case "switch":
					@:@(children.LowerName):@(children.DefaultValue ? "1" : "0"),
break;
case "table":
					@:@(children.OriginalName):[],
break;
default:
if(children.DefaultValue == null || children.DefaultValue == "")
{
					@:@(children.LowerName):undefined,
}else{
					@:@(children.LowerName):@(children.DefaultValue),
}
break;
}
}
                },
@if(Model.UseFormPermission)
{
				@:menuIds:'',
}
				jurisdictionType:'',
				idList:[],
@foreach(var item in Model.OptionsList)
{
@switch(item.jnpfKey)
{
case "tab":
case "steps":
				@:@(item.Name)Title:@(item.Title),
				@:@(item.Name)Current:@(item.Content),
break;
}
}
            };
        },
		watch: {
@if(Model.IsSummary)
{
			@:dataForm: {
				@:handler(val, oldVal) {
@foreach(var item in Model.FormList)
{
@switch(item.jnpfKey)
{
case "table":
@if(item.ShowSummary)
{
					@:this.@(item.LowerName)();
}
break;
}
}
				@:},
				@:deep: true
			@:}				
}
        },
        onLoad(option) {
			this.menuIds = option.menuIds
			this.jurisdictionType = option.jurisdictionType
            this.@(Model.FormModel).@(Model.PrimaryKey) = option.id || ''
			this.idList = option.idList
            uni.setNavigationBarTitle({
                title: '详情'
            })
            this.initData()
			uni.$on('refresh', () => {
				this.initData()                              
			})
		},
        methods: {
			initCollapse() {
				setTimeout(() => {
@for (int i = 0; i < collapseNum; i++)
{
					@:this.$refs.collapseRef@(i) && this.$refs.collapseRef@(i).init()
}
				}, 50)
			},
			onCollapseChange() {
				this.initCollapse()
			},
@foreach(var item in @Model.OptionsList)
{
@if(item.jnpfKey == "tab")
{
			@:@(item.LowerName)Change(index)
			@:{
				@:this.@(item.LowerName)Current = index;
				@:this.initCollapse()
			@:},
}
@if(item.jnpfKey == "steps")
{
			@:@(item.LowerName)Change(index)
			@:{
				@:this.@(item.LowerName)Current = index;
			@:},
}
}
            initData() {
				const baseStore = useBaseStore()
				baseStore.updateRelationData({})
                if (this.@(Model.FormModel).@(Model.PrimaryKey)) {
                    request({
                        url: '/api/@(Model.NameSpace)/@(Model.ClassName)/Detail/' + this.@(Model.FormModel).@(Model.PrimaryKey),
                        method: 'get',
                    }).then(res => {
                        this.@(Model.FormModel) = res.data;
@foreach(var item in Model.FormList)
{
@switch(item.jnpfKey)
{
case "cascader":
case "checkbox":
case "uploadImg":
case "uploadFile":
case "areaSelect":
case "organizeSelect":
						@:if(!this.@(Model.FormModel).@(item.LowerName))this.@(Model.FormModel).@(item.LowerName)=[];
break;
}
}
						this.initCollapse();
                    })
                }
            },
@foreach(var item in collapseArray)
{
			@:@(item)Change(){
					@:this.$nextTick(()=>{
						@:this.$refs.@(item)Ref && this.$refs.@(item)Ref.init()
					@:})
			@:},
}
			clickIcon(label, tipLabel) {
				uni.showModal({
					title: label || '',
					content: tipLabel || '',
					showCancel: false,
				});
			},
			toDetail(id, modelId) {
				if (!id) return
				let config = {
					modelId: modelId,
					id: id,
					formTitle: '详情',
					noShowBtn: 1
				}
				this.$nextTick(() => {
					const url =
						`/pages/apply/dynamicModel/detail?config=` + this.jnpf.base64.encode(JSON.stringify(config),"UTF-8");
					uni.navigateTo({
						url: url
					})
				})
			},
			handleEdit() {
				let btnType = 'btn_edit';
				if(!btnType) return
				this.jumPage(this.dataForm.id,btnType)
			},
			jumPage(id,btnType){
				if (!id) btnType = 'btn_add'
				let query = id ? id : ''
				uni.navigateTo({
					url: './form?id=' + query + '&jurisdictionType=' + btnType + '&menuIds=' + this.menuIds + '&idList='+this.idList
				})
			},
@foreach(var item in Model.FormList)
{
@if(item.jnpfKey == "table")
{
@if(item.ShowSummary)
{
			@:@(item.LowerName)(){
				 @:let table = this.@(Model.FormModel).@(item.OriginalName)
				 @:let summaryField = @(item.SummaryField)
				 @:let summaryFieldLabelWidth = @(item.SummaryFieldLabelWidth)
				 @:let thousandsField = @(item.Thousands ? item.ChildrenThousandsField : "[]")
                 @:let summaryFieldName = {
@foreach(var items in item.ChildrenList)
{
@if(items.IsSummary)
{
					@:"@(items.Name)":"@(items.Placeholder)",
}
}
                 @:}
				 @:let data = {}
                 @:for (let i in summaryField) {
					@:let map = {}
					@:let val = 0
					@:for (let j = 0; j < table.length; j++) {
						@:let summary = table[j][summaryField[i]];
						@:if (summary) {
							@:let data = isNaN(summary) ? 0 : Number(summary)
							@:val += data
						@:}
					@:}
					@:map.id = summaryField[i];
					@:map.name = summaryFieldName[summaryField[i]];
					@:map.labelWidth = summaryFieldLabelWidth[i];
					@:map.val = thousandsField.includes(summaryField[i]) ? Number(val).toLocaleString('zh', {
						@:maximumFractionDigits: '2',
						@:minimumFractionDigits: '2'
					@:}) : Number(val).toFixed(2);
					@:data[summaryField[i]] = map;
				@:}
				@:return data;
			@:},
}
}
}
        }
    };
</script>
@{
    void GenCodeAppFormControls()
	{
@foreach(var item in Model.FormAllContols)
{
@switch(item.jnpfKey)
{
case "tableGrid":
@{GenCodeAppFormChildrenControls(item.Children);}
break;
case "tableGridTr":
@{GenCodeAppFormChildrenControls(item.Children);}
break;
case "tableGridTd":
@{GenCodeAppFormChildrenControls(item.Children);}
break;
@*现将表单内有特殊样式的控件循环出来*@
case "groupTitle":
			@:<@(item.Tag) content="@(item.Content)" content-position="@(item.Contentposition)" @(item.TipLabel != null ? "helpMessage=\"" + item.TipLabel + "\" @groupIcon=\"clickIcon('" + item.Content + "','" + item.TipLabel + "')\" " : "")/>
break;
case "divider":
			@:<@(item.Tag) content="@(item.Default)" half-width="200" height="80"/>
break;
case "card":
case "row":
			@:<view class="jnpf-card">
				@:<view class="jnpf-card-cap u-line-1">@(item.Content)
@if(item.TipLabel != null)
{
					@:<u-icon name="question-circle-fill" class="u-m-l-10" color="#a0acb7"
						@:@@click="clickIcon('@(item.Content)','@(item.TipLabel)')" />
}
				@:</view>
@{GenCodeAppFormChildrenControls(item.Children);}
			@:</view>
break;
@*标签面板*@
case "tab":
			@:<view prop="@(item.LowerName)">
				@:<u-tabs :is-scroll="false" :list="@(item.LowerName)Title" name="title" v-model="@(item.LowerName)Current" @@change="@(item.LowerName)Change"/>
				@:<view>
@{ int n = 0;}
@foreach(var tab in item.Children)
{
					@:<view v-show="@(n) == @(item.LowerName)Current">
@{GenCodeAppFormChildrenControls(tab.Children);}
					@:</view>
					@{n++;}
}
				@:</view>
			@:</view>
break;
@*步骤条*@
case "steps":
			@:<view prop="@(item.LowerName)">
				@:<u-steps class="step-container" :list="@(item.LowerName)Title" name="title" :current="@(item.LowerName)Current" @@change="@(item.LowerName)Change" @(item.Simple ? "mode='dot'" : "mode='number'")></u-steps>
				@:<view>
@{ int sIndex = 0;}
@foreach(var step in item.Children)
{
					@:<view v-show="@(sIndex) == @(item.LowerName)Current">
@{GenCodeAppFormChildrenControls(step.Children);}
					@:</view>
					@{sIndex++;}
}
				@:</view>
			@:</view>
break;
@*折叠面板*@
case "collapse":
			@:<view class="collapse">
				@:<u-collapse :accordion="@(item.Accordion)" @@change="@(item.Name)Change" ref="collapseRef@(collapseNum)">
@{collapseNum++;}
@foreach(var collapse in item.Children)
{
					@:<u-collapse-item class="collapse-item" name="@(collapse.Name)" title="@(collapse.Title)" @(collapse.Open) @@change="onCollapseChange">
@{GenCodeAppFormChildrenControls(collapse.Children);}
					@:</u-collapse-item>
}
				@:</u-collapse>
			@:</view>
@{collapseArray.Add(item.Name);}
break;
@*文本*@
case "text":
			@:<@(item.Tag) content="@(item.Content)" :textStyle='@(item.TextStyle)'/>
break;
@*子表*@
case "table":
            @:<view class="jnpf-table" @(Model.UseFormPermission ? "v-if=\"$permission.hasFormP('" + item.Name + "',menuIds)\"" : "")>
				@:<view class="jnpf-table-item" v-for="(item,i) in @(Model.FormModel).@(item.Name)" :key="i">
					@:<view class="jnpf-table-item-title u-flex u-row-between">
						@:<view class="jnpf-table-item-title-num u-line-1 u-p-r-20 u-p-l-20" @@click="clickIcon('@(item.Label)','@(item.TipLabel)')">@(item.Label)({{i+1}})
@if(item.TipLabel != null)
{
							@:<u-icon :name="'question-circle-fill'" class="u-m-l-10" color="#a0acb7" />
}
						@:</view>
                    @:</view>
@foreach(var children in item.Children)
{
					@:<view class="u-p-l-20 u-p-r-20 form-item-box">
@switch(children.jnpfKey)
{
case "relationFormAttr":
case "popupAttr":
						@:<u-form-item @(children.ShowLabel ? "label=\"" + children.Label + "\" " : "")prop="@(children.RelationField)" @(children.NoShow ? "v-if='false' " : (Model.UseFormPermission && children.IsStorage == 1 ? "v-if=\"$permission.hasFormP('" + item.Name + "-" + children.LowerName + "', menuIds)\"" : "")) :label-width="@(children.LabelWidth) * 1.5">
break;
default:
						@:<u-form-item @(children.ShowLabel ? "label=\"" + children.Label + "\" " : "")prop="@(children.LowerName)" @(children.NoShow ? "v-if='false' " : (Model.UseFormPermission ? "v-if=\"$permission.hasFormP('" + item.Name + "-" + children.LowerName + "', menuIds)\" " : ""))@(children.jnpfKey == "uploadImg"? "class=\"preview-image-box\" " : "") :label-width="@(children.LabelWidth) * 1.5">
break;
}
@switch(children.jnpfKey)
{
case "uploadFile":
							@:<@(children.Tag) v-model="@(Model.FormModel).@(item.Name)[i].@(children.LowerName)" :noShowBtn="false" @(children.Limit)@(children.SizeUnit)@(children.FileSize)@(children.Accept) detailed/>
break;
case "uploadImg":
							@:<JnpfUploadImg v-model="@(Model.FormModel).@(item.Name)[i].@(children.LowerName)" detailed />
break;
@*关联表单*@
case "relationForm":
							@:<view class="jnpf-detail-text" style="color:rgb(41, 121, 255)" @@click.native="toDetail(@(Model.FormModel).@(item.Name)[i].@(children.LowerName)_id,'@(children.ModelId)')">{{@(Model.FormModel).@(item.Name)[i].@(children.LowerName)}}</view>
break;
case "inputNumber":
							@:<@(children.Tag) v-model="@(Model.FormModel).@(item.Name)[i].@(children.LowerName)" @(children.Precision)@(children.AddonBefore)@(children.AddonAfter)@(children.Thousands)@(children.AmountChinese) detailed disabled/>
break;
case "signature":
							@:<@(children.Tag) v-model="@(Model.FormModel).@(item.Name)[i].@(children.LowerName)" detailed />
break;
case "sign":
							@:<@(children.Tag) v-model="@(Model.FormModel).@(item.Name)[i].@(children.LowerName)" detailed />
break;
case "location":
							@:<@(children.Tag) v-model="@(Model.FormModel).@(item.Name)[i].@(children.LowerName)" @(children.EnableLocationScope) detailed />
break;
case "rate":
							@:<@(children.Tag) v-model="@(Model.FormModel).@(item.Name)[i].@(children.LowerName)" size="40" @(children.Count!=null && children.Count!="" ? ":max='"+children.Count+"'" : "") @(children.Readonly)@(children.AllowHalf)@(children.IsLinked ? "@change='"+ @children.LowerName +"Change'":"") detailed disabled/>
break;
case "slider":
							@:<@(children.Tag) v-model="@(Model.FormModel).@(item.Name)[i].@(children.LowerName)" @(children.Step)@(children.Min)@(children.Max)@(children.IsLinked ? "@change='"+ @children.LowerName +"Change' ":"")style="width: 100%;" detailed disabled />
break;
default:
							@:<view class="jnpf-detail-text">{{@(Model.FormModel).@(item.Name)[i].@(children.LowerName)}}</view>
break;
}
						@:</u-form-item>
					@:</view>
}
                @:</view>
@if(item.ShowSummary)
{
				@:<view class="jnpf-table-item">
					@:<view class="jnpf-table-item-title u-flex u-row-between">
						@:<text class="jnpf-table-item-title-num">@(item.Label)合计</text>
					@:</view>
					@:<view class="u-p-l-20 u-p-r-20 form-item-box">
						@:<u-form-item v-for="(item,i) in @(item.LowerChildTableName)()" :key="i" :label="item.name" :label-width="item?.labelWidth? item.labelWidth * 1.5 : ''">
							@:<JnpfInput v-model="item.val" disabled placeholder="" />
						@:</u-form-item>
					@:</view>
				@:</view>
}
            @:</view>
break;
default:
			@:<view class="u-p-l-20 u-p-r-20 form-item-box">
@switch(item.jnpfKey)
{
@*关联表单属性*@
case "relationFormAttr":
@*弹窗选择属性*@
case "popupAttr":
				@:<u-form-item @(item.ShowLabel ? "label='"+item.Label+"'" : "") prop="@(item.RelationField)" @(item.NoShow ? "v-if='false' " : (Model.UseFormPermission && item.IsStorage == 1 ? "v-if=\"$permission.hasFormP('" + item.LowerName + "',menuIds)\" " : ""))@(item.ShowLabel && (item.Label != "null" && item.TipLabel != null) ? "left-icon=\"question-circle-fill\" @clickIcon=\"clickIcon('" + item.Label + "','" + item.TipLabel + "')\" :left-icon-style=\"{'color':'#a0acb7'}\" " : "") :label-width="@(item.LabelWidth) * 1.5">
break;
@*富文本框*@
case "editor":
				@:<u-form-item prop="@(item.LowerName)">
break;
case "button":
case "alert":
case "link":
				@:<u-form-item>
break;
case "textarea":
case "inputNumber":
case "switch":
case "radio":
case "checkbox":
case "select":
case "cascader":
case "areaSelect":
case "treeSelect":
case "uploadImg":
case "uploadFile":
case "rate":
case "slider":
case "timePicker":
case "datePicker":
case "organizeSelect":
case "depSelect":
case "posSelect":
case "userSelect":
case "usersSelect":
case "groupSelect":
case "roleSelect":
case "relationForm":
case "popupSelect":
case "popupTableSelect":
case "colorPicker":
case "autoComplete":
				@:<u-form-item @(item.ShowLabel ? "label='"+item.Label+"'" : "") prop="@(item.LowerName)" @(item.NoShow ? "v-if='false' " : (Model.UseFormPermission ? "v-if=\"$permission.hasFormP('" + item.LowerName + "',menuIds)\" " : ""))@(item.jnpfKey == "uploadImg"? "class=\"preview-image-box\" " : "")@(item.ShowLabel && (item.Label != "null" && item.TipLabel != null) ? "left-icon=\"question-circle-fill\" @clickIcon=\"clickIcon('" + item.Label + "','" + item.TipLabel + "')\" :left-icon-style=\"{'color':'#a0acb7'}\" " : "") :label-width="@(item.LabelWidth) * 1.5">
break;
default:
				@:<u-form-item @(item.ShowLabel ? "label='"+item.Label+"'" : "") prop="@(item.LowerName)" @(item.NoShow ? "v-if='false' " : (Model.UseFormPermission ? "v-if=\"$permission.hasFormP('" + item.LowerName + "',menuIds)\" " : ""))@(item.ShowLabel && (item.Label != "null" && item.TipLabel != null) ? "left-icon=\"question-circle-fill\" @clickIcon=\"clickIcon('" + item.Label + "','" + item.TipLabel + "')\" :left-icon-style=\"{'color':'#a0acb7'}\" " : "") :label-width="@(item.LabelWidth) * 1.5">
break;
}
@switch(item.jnpfKey)
{
case "button":
					@:<@(item.Tag) buttonText="@(item.ButtonText)" align="@(item.Align)" type="@(item.Type)"/>
break;
case "alert":
					@:<@(item.Tag) type="@(item.Type)" title="@(item.Title)" tagIcon='icon-ym icon-ym-generator-alert' :showIcon="@(item.ShowIcon)" :closable="@(item.Closable.ToString().ToLower())" description="@(item.Description)" closeText="@(item.CloseText)" />
break;
case "link":
					@:<@(item.Tag) content="@(item.Content)" href="@(item.Href)" target='@(item.Target)' :textStyle='@(item.TextStyle)' />
break;
case "colorPicker":
					@:<@(item.Tag) v-model="@(Model.FormModel).@(item.LowerName)" disabled @(item.ColorFormat)/>
break;
@*富文本框*@
case "editor":
					@:<JnpfEditor  v-model="@(Model.FormModel).@(item.LowerName)" detailed />
break;
case "input":
					@:<JnpfInput v-model="@(Model.FormModel).@(item.LowerName)" detailed  @(item.UseMask)@(item.MaskConfig)@(item.AddonBefore)@(item.AddonAfter)/>
break;
case "uploadImg":
					@:<JnpfUploadImg v-model="@(Model.FormModel).@(item.LowerName)" detailed />
break;
case "uploadFile":
					@:<@(item.Tag) v-model="@(Model.FormModel).@(item.LowerName)" :noShowBtn="false" @(item.Limit)@(item.SizeUnit)@(item.FileSize)@(item.Accept) detailed/>
break;
case "rate":
					@:<@(item.Tag) v-model="@(Model.FormModel).@(item.LowerName)" size="40" @(item.Count!=null && item.Count!="" ? ":max='"+item.Count+"'" : "") @(item.Readonly)@(item.AllowHalf) detailed disabled/>
break;
case "inputNumber":
					@:<@(item.Tag) v-model="@(Model.FormModel).@(item.LowerName)" @(item.Precision)@(item.AddonBefore)@(item.AddonAfter)@(item.Thousands)@(item.AmountChinese) detailed disabled/>
break;
case "signature":
					@:<@(item.Tag) v-model="@(Model.FormModel).@(item.LowerName)" detailed />
break;
case "sign":
					@:<@(item.Tag) v-model="@(Model.FormModel).@(item.LowerName)" detailed />
break;
case "location":
					@:<@(item.Tag) v-model="@(Model.FormModel).@(item.LowerName)" @(item.EnableLocationScope) detailed />
break;
case "slider":
					@:<@(item.Tag) v-model="@(Model.FormModel).@(item.LowerName)" @(item.Step)@(item.Min)@(item.Max)style="width: 100%;" detailed disabled />
break;
case "barcode":
					@:<@(item.Tag) @(item.Width) @(item.Height) @(item.Format) @(item.LineColor) @(item.Background) @(item.StaticText) @(item.DataType) @(item.RelationField_Id) :formData="dataForm" />
break;
case "qrcode":
					@:<@(item.Tag) @(item.Width) @(item.ColorDark) @(item.ColorLight) @(item.StaticText) @(item.DataType) @(item.RelationField) :formData="dataForm" />
break;
case "relationForm":
					@:<view class="jnpf-detail-text" style="color:rgb(41, 121, 255)" @@click.native="toDetail(@(Model.FormModel).@(item.LowerName)_id,'@(item.ModelId)')">{{@(Model.FormModel).@(item.LowerName)}}</view>
break;
default:
					@:<view class="jnpf-detail-text">{{@(Model.FormModel).@(item.LowerName)}}</view>
break;
}
				@:</u-form-item>
			@:</view>
break;
}
}
	}
	void GenCodeAppFormChildrenControls(ICollection<FormControlDesignModel> childrenList)
	{
@foreach(var item in childrenList)
{
@switch(item.jnpfKey)
{
case "tableGrid":
@{GenCodeAppFormChildrenControls(item.Children);}
break;
case "tableGridTr":
@{GenCodeAppFormChildrenControls(item.Children);}
break;
case "tableGridTd":
@{GenCodeAppFormChildrenControls(item.Children);}
break;
@*现将表单内有特殊样式的控件循环出来*@
case "groupTitle":
			@:<@(item.Tag) content="@(item.Content)" content-position="@(item.Contentposition)" @(item.TipLabel != null ? "helpMessage=\"" + item.TipLabel + "\" @groupIcon=\"clickIcon('" + item.Content + "','" + item.TipLabel + "')\" " : "")/>
break;
case "divider":
			@:<@(item.Tag) content="@(item.Default)" half-width="200" height="80"/>
break;
case "card":
case "row":
			@:<view class="jnpf-card">
				@:<view class="jnpf-card-cap u-line-1">@(item.Content)
@if(item.TipLabel != null)
{
					@:<u-icon name="question-circle-fill" class="u-m-l-10" color="#a0acb7"
						@:@@click="clickIcon('@(item.Content)','@(item.TipLabel)')" />
}
				@:</view>
@{GenCodeAppFormChildrenControls(item.Children);}
			@:</view>
break;
@*标签面板*@
case "tab":
			@:<view prop="@(item.LowerName)">
				@:<u-tabs :is-scroll="false" :list="@(item.LowerName)Title" name="title" v-model="@(item.LowerName)Current" @@change="@(item.LowerName)Change"/>
				@:<view>
@{ int n = 0;}
@foreach(var tab in item.Children)
{
					@:<view v-show="@(n) == @(item.LowerName)Current">
@{GenCodeAppFormChildrenControls(tab.Children);}
					@:</view>
					@{n++;}
}
				@:</view>
			@:</view>
break;
@*步骤条*@
case "steps":
			@:<view prop="@(item.LowerName)">
				@:<u-steps class="step-container" :list="@(item.LowerName)Title" name="title" :current="@(item.LowerName)Current" @@change="@(item.LowerName)Change" @(item.Simple ? "mode='dot'" : "mode='number'")></u-steps>
				@:<view>
@{ int sIndex = 0;}
@foreach(var step in item.Children)
{
					@:<view v-show="@(sIndex) == @(item.LowerName)Current">
@{GenCodeAppFormChildrenControls(step.Children);}
					@:</view>
					@{sIndex++;}
}
				@:</view>
			@:</view>
break;
@*折叠面板*@
case "collapse":
			@:<view class="collapse">
				@:<u-collapse :accordion="@(item.Accordion)" @@change="@(item.Name)Change" ref="collapseRef@(collapseNum)">
@{collapseNum++;}
@foreach(var collapse in item.Children)
{
					@:<u-collapse-item class="collapse-item" name="@(collapse.Name)" title="@(collapse.Title)" @(collapse.Open) @@change="onCollapseChange">
@{GenCodeAppFormChildrenControls(collapse.Children);}
					@:</u-collapse-item>
}
				@:</u-collapse>
			@:</view>
@{collapseArray.Add(item.Name);}
break;
@*文本*@
case "text":
			@:<@(item.Tag) content="@(item.Content)" :textStyle='@(item.TextStyle)'/>
break;
@*子表*@
case "table":
            @:<view class="jnpf-table" @(Model.UseFormPermission ? "v-if=\"$permission.hasFormP('" + item.Name + "',menuIds)\"" : "")>
				@:<view class="jnpf-table-item" v-for="(item,i) in @(Model.FormModel).@(item.Name)" :key="i">
					@:<view class="jnpf-table-item-title u-flex u-row-between">
						@:<view class="jnpf-table-item-title-num u-line-1 u-p-r-20 u-p-l-20" @@click="clickIcon('@(item.Label)','@(item.TipLabel)')">@(item.Label)({{i+1}})
@if(item.TipLabel != null)
{
							@:<u-icon :name="'question-circle-fill'" class="u-m-l-10" color="#a0acb7" />
}
						@:</view>
                    @:</view>
@foreach(var children in item.Children)
{
					@:<view class="u-p-l-20 u-p-r-20 form-item-box">
@switch(children.jnpfKey)
{
case "relationFormAttr":
case "popupAttr":
						@:<u-form-item @(children.ShowLabel ? "label=\"" + children.Label + "\" " : "")prop="@(children.RelationField)" @(children.NoShow ? "v-if='false' " : (Model.UseFormPermission && children.IsStorage == 1 ? "v-if=\"$permission.hasFormP('" + item.Name + "-" + children.LowerName + "', menuIds)\"" : "")) :label-width="@(children.LabelWidth) * 1.5">
break;
default:
						@:<u-form-item @(children.ShowLabel ? "label=\"" + children.Label + "\" " : "")prop="@(children.LowerName)" @(children.NoShow ? "v-if='false' " : (Model.UseFormPermission ? "v-if=\"$permission.hasFormP('" + item.Name + "-" + children.LowerName + "', menuIds)\" " : ""))@(children.jnpfKey == "uploadImg"? "class=\"preview-image-box\" " : "") :label-width="@(children.LabelWidth) * 1.5">
break;
}
@switch(children.jnpfKey)
{
case "uploadFile":
							@:<@(children.Tag) v-model="@(Model.FormModel).@(item.Name)[i].@(children.LowerName)" :noShowBtn="false" @(children.Limit)@(children.SizeUnit)@(children.FileSize)@(children.Accept) detailed/>
break;
case "uploadImg":
							@:<JnpfUploadImg v-model="@(Model.FormModel).@(item.Name)[i].@(children.LowerName)" detailed />
break;
@*关联表单*@
case "relationForm":
							@:<view class="jnpf-detail-text" style="color:rgb(41, 121, 255)" @@click.native="toDetail(@(Model.FormModel).@(item.Name)[i].@(children.LowerName)_id,'@(children.ModelId)')">{{@(Model.FormModel).@(item.Name)[i].@(children.LowerName)}}</view>
break;
case "inputNumber":
							@:<@(children.Tag) v-model="@(Model.FormModel).@(item.Name)[i].@(children.LowerName)" detailed @(children.Precision)@(children.AddonBefore)@(children.AddonAfter)@(children.Thousands)@(children.AmountChinese) disabled/>
break;
case "signature":
							@:<@(children.Tag) v-model="@(Model.FormModel).@(item.Name)[i].@(children.LowerName)" detailed />
break;
case "sign":
							@:<@(children.Tag) v-model="@(Model.FormModel).@(item.Name)[i].@(children.LowerName)" detailed />
break;
case "location":
							@:<@(children.Tag) v-model="@(Model.FormModel).@(item.Name)[i].@(children.LowerName)" @(children.EnableLocationScope) detailed />
break;
case "rate":
							@:<@(children.Tag) v-model="@(Model.FormModel).@(item.Name)[i].@(children.LowerName)" size="40" @(children.Count!=null && children.Count!="" ? ":max='"+children.Count+"'" : "") @(children.Readonly)@(children.AllowHalf)@(children.IsLinked ? "@change='"+ @children.LowerName +"Change'":"") detailed disabled/>
break;
case "slider":
							@:<@(children.Tag) v-model="@(Model.FormModel).@(item.Name)[i].@(children.LowerName)" @(children.Step)@(children.Min)@(children.Max)@(children.IsLinked ? "@change='"+ @children.LowerName +"Change' ":"")style="width: 100%;" detailed disabled/>
break;
default:
							@:<view class="jnpf-detail-text">{{@(Model.FormModel).@(item.Name)[i].@(children.LowerName)}}</view>
break;
}
						@:</u-form-item>
					@:</view>
}
                @:</view>
@if(item.ShowSummary)
{
				@:<view class="jnpf-table-item">
					@:<view class="jnpf-table-item-title u-flex u-row-between">
						@:<text class="jnpf-table-item-title-num">@(item.Label)合计</text>
					@:</view>
					@:<view class="u-p-l-20 u-p-r-20 form-item-box">
						@:<u-form-item v-for="(item,i) in @(item.LowerChildTableName)()" :key="i" :label="item.name" :label-width="item?.labelWidth? item.labelWidth * 1.5 : ''">
							@:<JnpfInput v-model="item.val" disabled placeholder="" />
						@:</u-form-item>
					@:</view>
				@:</view>
}
            @:</view>
break;
default:
			@:<view class="u-p-l-20 u-p-r-20 form-item-box">
@switch(item.jnpfKey)
{
@*关联表单属性*@
case "relationFormAttr":
@*弹窗选择属性*@
case "popupAttr":
				@:<u-form-item @(item.ShowLabel ? "label='"+item.Label+"'" : "") prop="@(item.RelationField)" @(item.NoShow ? "v-if='false' " : (Model.UseFormPermission && item.IsStorage == 1 ? "v-if=\"$permission.hasFormP('" + item.LowerName + "',menuIds)\" " : ""))@(item.ShowLabel && (item.Label != "null" && item.TipLabel != null) ? "left-icon=\"question-circle-fill\" @clickIcon=\"clickIcon('" + item.Label + "','" + item.TipLabel + "')\" :left-icon-style=\"{'color':'#a0acb7'}\" " : "") :label-width="@(item.LabelWidth) * 1.5">
break;
@*富文本框*@
case "editor":
				@:<u-form-item prop="@(item.LowerName)">
break;
case "button":
case "alert":
case "link":
				@:<u-form-item>
break;
case "textarea":
case "inputNumber":
case "switch":
case "radio":
case "checkbox":
case "select":
case "cascader":
case "areaSelect":
case "treeSelect":
case "uploadImg":
case "uploadFile":
case "rate":
case "slider":
case "timePicker":
case "datePicker":
case "organizeSelect":
case "depSelect":
case "posSelect":
case "userSelect":
case "usersSelect":
case "groupSelect":
case "roleSelect":
case "relationForm":
case "popupSelect":
case "popupTableSelect":
case "colorPicker":
case "autoComplete":
				@:<u-form-item @(item.ShowLabel ? "label='"+item.Label+"'" : "") prop="@(item.LowerName)" @(item.NoShow ? "v-if='false' " : (Model.UseFormPermission ? "v-if=\"$permission.hasFormP('" + item.LowerName + "',menuIds)\" " : ""))@(item.jnpfKey == "uploadImg"? "class=\"preview-image-box\" " : "")@(item.ShowLabel && (item.Label != "null" && item.TipLabel != null) ? "left-icon=\"question-circle-fill\" @clickIcon=\"clickIcon('" + item.Label + "','" + item.TipLabel + "')\" :left-icon-style=\"{'color':'#a0acb7'}\" " : "") :label-width="@(item.LabelWidth) * 1.5">
break;
default:
				@:<u-form-item @(item.ShowLabel ? "label='"+item.Label+"'" : "") prop="@(item.LowerName)" @(item.NoShow ? "v-if='false' " : (Model.UseFormPermission ? "v-if=\"$permission.hasFormP('" + item.LowerName + "',menuIds)\" " : ""))@(item.ShowLabel && (item.Label != "null" && item.TipLabel != null) ? "left-icon=\"question-circle-fill\" @clickIcon=\"clickIcon('" + item.Label + "','" + item.TipLabel + "')\" :left-icon-style=\"{'color':'#a0acb7'}\" " : "") :label-width="@(item.LabelWidth) * 1.5">
break;
}
@switch(item.jnpfKey)
{
case "button":
					@:<@(item.Tag) buttonText="@(item.ButtonText)" align="@(item.Align)" type="@(item.Type)"/>
break;
case "alert":
					@:<@(item.Tag) type="@(item.Type)" title="@(item.Title)" tagIcon='icon-ym icon-ym-generator-alert' :showIcon="@(item.ShowIcon)" :closable="@(item.Closable.ToString().ToLower())" description="@(item.Description)" closeText="@(item.CloseText)" />
break;
case "link":
					@:<@(item.Tag) content="@(item.Content)" href="@(item.Href)" target='@(item.Target)' :textStyle='@(item.TextStyle)' />
break;
case "colorPicker":
					@:<@(item.Tag) v-model="@(Model.FormModel).@(item.LowerName)" disabled @(item.ColorFormat)/>
break;
@*富文本框*@
case "editor":
					@:<JnpfEditor  v-model="@(Model.FormModel).@(item.LowerName)" detailed />
break;
case "input":
					@:<JnpfInput v-model="@(Model.FormModel).@(item.LowerName)" detailed  @(item.UseMask)@(item.MaskConfig)@(item.AddonBefore)@(item.AddonAfter)/>
break;
case "uploadImg":
					@:<JnpfUploadImg v-model="@(Model.FormModel).@(item.LowerName)" detailed />
break;
case "uploadFile":
					@:<@(item.Tag) v-model="@(Model.FormModel).@(item.LowerName)" :noShowBtn="false" @(item.Limit)@(item.SizeUnit)@(item.FileSize)@(item.Accept) detailed/>
break;
case "rate":
					@:<@(item.Tag) v-model="@(Model.FormModel).@(item.LowerName)" size="40" @(item.Count!=null && item.Count!="" ? ":max='"+item.Count+"'" : "") @(item.Readonly)@(item.AllowHalf) detailed disabled/>
break;
case "inputNumber":
					@:<@(item.Tag) v-model="@(Model.FormModel).@(item.LowerName)" @(item.Precision)@(item.AddonBefore)@(item.AddonAfter)@(item.Thousands)@(item.AmountChinese) detailed disabled/>
break;
case "signature":
					@:<@(item.Tag) v-model="@(Model.FormModel).@(item.LowerName)" detailed />
break;
case "sign":
					@:<@(item.Tag) v-model="@(Model.FormModel).@(item.LowerName)" detailed />
break;
case "location":
					@:<@(item.Tag) v-model="@(Model.FormModel).@(item.LowerName)" @(item.EnableLocationScope) detailed />
break;
case "slider":
					@:<@(item.Tag) v-model="@(Model.FormModel).@(item.LowerName)" @(item.Step)@(item.Min)@(item.Max) style="width: 100%;" disabled detailed />
break;
case "barcode":
					@:<@(item.Tag) @(item.Width) @(item.Height) @(item.Format) @(item.LineColor) @(item.Background) @(item.StaticText) @(item.DataType) @(item.RelationField_Id) :formData="dataForm" />
break;
case "qrcode":
					@:<@(item.Tag) @(item.Width) @(item.ColorDark) @(item.ColorLight) @(item.StaticText) @(item.DataType) @(item.RelationField) :formData="dataForm" />
break;
case "relationForm":
					@:<view class="jnpf-detail-text" style="color:rgb(41, 121, 255)" @@click.native="toDetail(@(Model.FormModel).@(item.LowerName)_id,'@(item.ModelId)')">{{@(Model.FormModel).@(item.LowerName)}}</view>
break;
default:
					@:<view class="jnpf-detail-text">{{@(Model.FormModel).@(item.LowerName)}}</view>
break;
}
				@:</u-form-item>
			@:</view>
break;
}
}
	}
}